@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


.header{
position:fixed;
top:0;
left:0;
z-index: 1000;
width:100%;
padding:60px 140px 30px 140px;


}
.box-container{
    max-width:1200px;
    margin:0 auto;

}
h1,.hero__header{
    font-size:50px;
    font-family: 'Lato', 'Arial',sans-serif;
    font-weight: 400;
    color:#fff;
}
h2,.features__header{
    font-size:18px;
    font-family: 'Lato', 'Arial',sans-serif;
    font-weight: 600;
    font-size:35px;
    letter-spacing: 0;
    color:#102746;
    text-align: left;
}

p,.content__text{
    font-size:16px;
    line-height: 24px;
    font-family: 'Lato', 'Arial',sans-serif;
    color:#000000;
    font-weight: 400;
    letter-spacing: 0;
 

}
.features__content .content__text{
    margin-bottom:37px;
}
.links{
    font-size:16px;
    font-family: 'Lato', 'Arial',sans-serif;
    font-weight: 400;
    color:#006dfe; 
    line-height: 24px;
    letter-spacing: 0;
}



.header__logo{
    float: left;
}
.header__logo a{
    display: inline-block;
}
.header__nav{
   float:right;
   max-width: 1000px;
}
.nav__list{
    text-align: right;
    line-height: 30px; 
}
.logo__img{
    width:100%;
    height: auto;
}

.nav__list li{
    display:inline-block;

}
.nav__list a{
    color:#fff;
    letter-spacing:0;
    font-size:18px;
    font-family: 'Lato', 'Arial',sans-serif;
    font-weight: 400;
    margin-left:80px;
   
}

.hero{
    position: relative;
    background:url("/images/hero.png");
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
    width:100%;
    min-height:900px;
    text-align: left;
   
}


.hero__content{
    position:absolute;
    top:30%;
    text-align: left;
    left:191px;
    max-width:619px;
    
}
.hero__content p{
    color:#fff;
    margin-top:22px;
}

.hero__select{
    position:absolute;
    top:60%;
    color:#fff;
    font-size:18px;
    font-family: 'Lato', 'Arial',sans-serif;
    text-align: left;
    left:191px;
    letter-spacing:0;
  
 

}
.hero__select .btn--primary{
  display: inline-block;
}

input[type="radio"]{
    display: none;

}
.input__options{
    display: inline-block;
    margin-right:60px;
    padding:0 34px 0px 0;
    
}
.input__text {
    outline: none;
    border-top:0;
    border-left:0;
    border-bottom: 2px solid #bfc0c5;
    background-color: transparent;
    border-right:0;
    display:block;
    font-size:16px;
    width:100%;
    height:100%;
    padding:12px;
  }


label{
    position:relative;
    cursor: pointer;
}

label::before{
  content:"";
   display: inline-block;
  border-radius:50%;
  border:2px solid #fff;
  width:15px;
  height:15px;
  color:#fff;
  margin-right:20px;

}

label::after{

    content:"";
    border:2px solid rgb(99, 99, 223,0);
    width:5px;
    height:5px;
    position: absolute;
    border-radius:50%;
   left:5px;
   top:4px;
   background-color:rgba(99, 99, 223, 0);
 transition:all 0.8s;
}

input[type="radio"]:checked + label::after{
    background-color:rgba(99, 99, 223, 1);
}
.clearfix::after{
    content:"";
    clear:both;
    display:table;

}
.btn{
    letter-spacing:0;
    font-family: 'Lato', 'Arial',sans-serif;
    font-weight: 400;
    padding:15px 39px;
}

.btn--primary{
    font-size:24px;
    background-color: #1b7dff;
    color:#fff;
}

.container{
    padding:89px;
    width:100%;
    position: relative;

}

.features{
    position: relative;
    width:100%;
   height:100%;
    top:-100px;
    padding:0 89px;

}

.features__text{
    box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
    background-color: #fff;
    padding:93px 100px 112px 100px;
    width:100%;
    height: 100%;
    font-size: 0;

}
.lines{
    position:relative;
}
.lines::after{
    content:"";
    top:0;
    left:0;
    position:absolute;
    border-bottom:3px solid #006dfe;
    width:253px;
    height:50px;
}


.icons__img{
    margin-bottom:37px;
    width:66px;
    height:66px;
}

.content__header{
    font-size:18px;
    line-height: 24px;
    font-family: 'Lato', 'Arial',sans-serif;
    font-weight: 700;
    color:#000000;
    margin-bottom:37px;
}

.features__content{
    display: inline-block;
    width:calc(100%/3);
    padding-top:120px;
 padding-right:40px;
   
}


.arrow_icon{
   width:15px;
   height:15px;
   margin-left:27px;
}


.img__box1 p,.img__box2 p{
    position:absolute;
    bottom:27px;
    left:29px;
    color:#fff;
    font-weight:700;
}

.travel__imgs{  
    padding:0 89px 131px 89px;
   }

   .img__box1{
    float: left;
    width:50%;
    padding-right:10px;
    position: relative;
    height:100%;
}

figure{
    position:relative;
    width:100%;
    height:310px;
 
 }
figure::before{
    content:"";
    position: absolute;
    background:rgba(21, 24, 36, 0.4);
    top:0;
    left:0;
    width:100%;
    height:100%;
    
}
.img__box1 img{
    width:100%;
    height: 100%;  
    
}
.img__box2{
    float:left;
    width:calc(100%/3);
    position: relative;
    padding-right:10px;
    padding-top:10px;
    height: 100%;
    
}
.img__box2 img{
    width:100%;
    height:100%;
 } 

.images{
    padding-top:36px;
    width:100%;
    height:100%;
   
}

.cities{
    padding:0 89px;    
}

.cities .view--1 .cities-img{
    float:left;
    width:45%;
    height:100%;
}

.cities__content{
    width:45%;
    height:100%;
}

.cities .view--2 .cities-img{
    float:right;
    width:45%;
    height:auto;
 
   
}

.cities .view--1 .cities__content{
    float:right;
}

.cities .view--2 .cities__content{
  
    float:left;
}

.cities__content .features__header{
    font-size:30px;
    width:357px;
    margin-bottom:45px;
}

.cities__content .content__text{
    color:#102746;
    margin-bottom:58px;
    
}
.view--2{
    padding-top:77px;
    
}

.video__content{
    position:relative;
    background-image: url("/images/image.png");
    background-position: top;
    width:100%;
    height:100%;
  
    
}

.video__content::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(21, 24, 36, 0.4);
    width:100%;
    height:100%;
}
.video{
    width:100%;
    height: 609px;
   
}


.playpause {
    background-image:url('/images/play-button\ \(4\).png');
    background-repeat:no-repeat;
    width:150px;
    height:150px;
   top:0;
   left:0;
   bottom:0;
   right:0;
    position:absolute;
    margin:auto;
    background-size: contain ;
    z-index:1;
    fill:#fff;
    
   
}
.places{
    font-size:0;
    padding:152px 89px 144px 89px;

}
.places__box .places__content .content__text{
    color:#102746;
    margin-bottom:31px;
}


.places__box{
    display: inline-block;
    width:calc(100%/3);
    height:100%;
    padding:54px 21px 0 21px;

}
.places__content{
    padding-top:35px;
    text-align: left;
}

.places__content .btn--primary{
    font-size:16px;
    padding:12px 19px;
}
.places__img{
    position: relative;
    width:100%;
    height:100%;
}

.places__img img{
    width:100%;
    height:auto;
  
}
.places__icons{
    position:absolute;
    background: rgba(21, 24, 36, 0.6);
    height:55px;
    width:100%;
    bottom:0;
    left:0;
    padding:16px 25px 16px 25px;
}
.places__icons .content__head{
    float:left;
}
.icons__bar{
    float:right;
    
}
.icons--text{
    display:inline-block;
    color:#fff;
    font-size:16px;
    font-family: 'Lato', 'Arial',sans-serif;
    font-weight: 600;
    line-height: 24px;
    padding-right:14px;
 
}

.icons--text img{
   width:18px;
    height:15px;
    
}
.footer{
    padding:119px 10px 118px 145px;
    background-color:#0e1d28;
    width:100%;   
}


.footer__elem{
   display: inline-block;
    padding-right:160px;
 
}


.content__head{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color:#fff;
    font-family: 'Lato', 'Arial',sans-serif;
    font-weight: 400;
   
}
.footer__img{
    width:100%;
    height:auto;
    float: left;
}
.footer__links{
    float:right;
}

.footer .footer_list li a{
    font-size:16px;
    line-height:24px;
    color:#fff;
    letter-spacing: 0;
    font-family: 'Lato', 'Arial',sans-serif;
    font-weight: 400;
}








